{% extends 'estates/layout.html' %}
{% block content %}
    <h1>Lista de dueños</h1>

    <ul>
    {% for own in owners %}
        <li>{{own}}</li>
        <button><a href="{% url 'deleteowner' own.id %}">Delete</a></button>
        <button><a href="{% url 'editowner' own.id %}">Edit</a></button>
    {% endfor %}
    </ul>
    <br><br>
    <h1>Lista de predios</h1>
    <ul>
    {% for est in estates %}
        <li>{{est}}</li>
        <button><a href="{% url 'deleteestate' est.id %}">Delete</a></button>
        <button><a href="{% url 'editestate' est.id %}">Edit</a></button>
    {% endfor %}
    </ul>
{% endblock %}